/*

File Name: style.less
Date: 05/31/21
Programmer: Mara Peasley

*/
/*Black and White variables*/
/*Color Palette:
Source = https://coolors.co/palette/22223b-4a4e69-9a8c98-c9ada7-f2e9e4
(checked for AAA Web Accessibility)
*/
/*Parametric mixin for headings */
/*End parametric mixin for headings*/
/*50% transparent*/
/*text underlined and italicized*/
/*text uppercase and bold*/
/*image flip*/
/*invert colors and serif*/
/*make it pink*/
/*sepia photo with shadow*/
/*green border*/
/*.topBorder() {
    border-top: double .5em #000000;
}*/
/*NOTES:
 - All comments updated on 02/21/24

*/
/* MOBILE STYLESHEET */
#desktopOnly {
  display: none;
}
.reveal {
  position: relative;
  transform: translateY(100px);
  opacity: 0;
  transition: 700ms all ease;
}
.reveal.active {
  transform: translateY(0);
  opacity: 1;
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #5B6B50;
  overflow-x: hidden;
  padding-top: 1em;
  transition: 0.5s;
  z-index: 10;
}
.sidenav a {
  padding: 20px 8px 8px 32px;
  text-decoration: none;
  font-size: 1em;
  color: #F3EDDD;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover {
  color: #f1f1f1;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.button {
  border: 1px solid #F3EDDD;
  color: #211A51;
  background-color: #F3EDDD50;
  text-align: center;
  padding: 0.5em 2em;
  margin: 1em auto;
  border-radius: 10px;
  display: block;
  width: 65%;
  font-weight: 500;
  font-family: 'Sorts Mill Goudy', serif;
  font-style: italic;
}
.button:visited {
  color: #211A51;
}
.button:hover {
  background-color: #5B6B50;
  color: #F3EDDD;
  border: 1px solid #F3EDDD;
  transition: 500ms all ease;
}
#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  transform: scaleY(-1);
}
#background-video video {
  position: fixed;
}
#header {
  background-color: rgba(255, 255, 255, 0.5);
  transition: 0.2s;
}
#headerTitle {
  color: #211A51;
}
#green-header {
  background-color: #5B6B50;
  color: #F3EDDD;
  padding: 0 1.5em;
}
#green-header h2 {
  font-size: 2em;
}
#green-header ul#desktopOnly {
  margin-top: 1em;
  padding: 0 1em;
}
#background-video-contact {
  width: 100vw;
  height: 55vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
#background-video-contact video {
  position: fixed;
}
header {
  padding: 1em 1.5em;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 9;
  top: 0;
  width: 100%;
  color: #211A51;
}
header h2 {
  font-size: 3em;
  padding: 0.5em;
}
header span {
  padding-top: 0.5em;
}
header ul {
  border-radius: 10px;
  padding-top: 0.25em;
}
header li {
  color: #F3EDDD;
  text-transform: uppercase;
}
header li a:hover {
  text-decoration: underline;
}
header li a:visited {
  color: #F3EDDD;
}
main #spacer {
  height: 100vh;
}
main div#definition {
  margin: 0 auto;
  width: 50%;
  position: absolute;
  top: 35%;
  left: 25%;
  background-color: rgba(255, 255, 255, 0.85);
  padding: 0.75em;
  border: 2px solid #FFFFFF;
  border-radius: 5px;
  opacity: 0;
  transition: opacity 2s;
}
main div#definition h3 {
  text-align: center;
  font-size: 1.8em;
}
main div#definition h5 {
  text-align: center;
  padding-bottom: 1em;
  font-family: 'Inria Sans', sans serif;
  font-size: 0.7em;
}
main div#definition p {
  margin: 0 auto;
  width: 90%;
  line-height: 1.5em;
}
main div#definition strong {
  font-weight: bold;
  font-size: 1.1em;
}
main div#down-arrow {
  text-align: center;
  color: #FFFFFF;
  position: absolute;
  bottom: 25%;
  margin: 0 auto;
  width: 100%;
  opacity: 0;
  transition: opacity 2s;
  animation-name: gentlebounce;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}
main div#down-arrow span {
  font-size: 3em;
  font-weight: 600;
}
main div.down-leaves {
  text-align: center;
  color: #FFFFFF;
  position: absolute;
  bottom: 0%;
  margin: 0 auto;
  width: 100%;
  margin-bottom: -2%;
}
main section.page-description {
  padding: 1.5em 1em;
  color: #211A51;
  background-color: #A1B096;
  text-align: center;
  width: 100%;
  margin: 0 auto;
}
main section.page-description div.plant-separator {
  padding: 2em 0 0 0;
}
main section.page-description h2 {
  padding-bottom: 1em;
  line-height: 1.45em;
  font-weight: 500;
}
main section.page-description p {
  width: 90%;
  margin: 0 auto;
}
main section.page-description h3 {
  font-family: 'Sorts Mill Goudy', serif;
  font-style: italic;
  font-size: 1.25em;
  padding-bottom: 1em;
}
main section.page-description img {
  border-radius: 15px;
  padding: 0.5em;
}
main section.product-box {
  padding: 1em 0;
  background-color: #F3EDDD;
}
main section.product-box h3 {
  font-family: 'Sorts Mill Goudy', serif;
  font-style: italic;
  font-size: 1.25em;
  padding-left: 1em;
}
main section.product-box dt {
  padding: 1em 0.5em 2em 0.5em;
  margin: 1em auto;
  width: 90%;
  border-radius: 5px;
}
main section.product-box dt h4 {
  color: #FFFFFF;
  font-size: 1.4em;
  text-shadow: 2px 1px rgba(0, 0, 0, 0.5);
}
main section.product-box dt p {
  color: #FFFFFF;
  text-shadow: 2px 1px rgba(0, 0, 0, 0.5);
}
main section.product-box dt a {
  color: #FFFFFF;
}
main section.product-box dt a:hover {
  text-decoration: underline;
}
main section.product-box dd img {
  width: 80%;
  margin: 0 auto;
  display: block;
  border-radius: 3px;
  opacity: 75%;
}
main section.product-box dd p {
  color: #211A51;
  text-shadow: none;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 1em;
}
main section.product-box #wild-coast {
  background-image: url(../images/tea_lemon_cup.jpg);
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: left;
}
main section.product-box #meadowland {
  background-image: url(../images/syrup_dark_cut.jpg);
  background-repeat: no-repeat;
  background-position: center left;
  background-size: 140%;
}
main section.product-box #durant {
  background-image: url(../images/durant_pour.jpg);
  background-repeat: no-repeat;
  background-position: center left;
  background-size: 135%;
}
main section.product-box #romance-jam {
  background-image: url(../images/jam_plate_cut.jpg);
  background-repeat: no-repeat;
  background-position: center left;
  background-size: 160%;
}
main section.product-box #bird-mafia {
  background-image: url(../images/bird_scissors_long.png);
  background-repeat: no-repeat;
  background-position: center left;
  background-size: 108%;
}
main section.product-box #moonbeam {
  background-image: url(../images/moon_bag.jpg);
  background-repeat: no-repeat;
  background-position: center left;
  background-size: 160%;
}
main section.video-section {
  overflow: hidden;
  display: flex;
  justify-content: center;
}
main section.video-section video {
  width: 300vw;
  margin-bottom: -1px;
}
main section.about-story {
  padding: 1.5em 1em;
  color: #211A51;
  background-color: #A1B096;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
main section.about-story h4 {
  padding: 1em;
  font-size: 1.2em;
  font-weight: 500;
}
main section.about-story h5 {
  padding-top: 1em;
  font-weight: 500;
}
main section.about-story .button {
  margin-bottom: 2.5em;
}
main section.about-story hr {
  border-top: 1px solid #F3EDDD;
  color: #F3EDDD;
  opacity: 60%;
}
main section.about-story span {
  padding-top: 1em;
}
main section.about-story div.pottery-definition {
  margin: 0 auto;
  width: 50%;
  display: block;
  text-align: center;
  position: absolute;
  top: -50%;
  left: 25%;
}
main section.about-story div.pottery-definition h3 {
  color: #FFFFFF;
  font-size: 1.7em;
}
main section.about-story div.pottery-definition:nth-child(2) {
  top: -15%;
  left: 25%;
}
main section.contact-top {
  padding: 2em 1.5em 1em 1.5em;
  color: #211A51;
  background-color: #A1B096;
  text-align: center;
  width: 100%;
  margin: 60% auto 0 auto;
  border-radius: 100% 100% 0 0;
}
main section.contact-top h2 {
  padding: 0.5em 1em;
  font-size: 2em;
  font-weight: 500;
}
main section.contact-top hr {
  color: #F3EDDD;
  border-top: 1px solid #F3EDDD;
}
main section.contact-form {
  overflow: hidden;
  background-color: #A1B096;
  padding-bottom: 5em;
  /*.fcf-btn:hover {
            color: #212529;
            text-decoration: none;
        }
        
        .fcf-btn:focus, .fcf-btn.focus {
            outline: 0;
            box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
        }
        
        .fcf-btn-primary {
            color: #fff;
            background-color: #007bff;
            border-color: #007bff;
        }
        
        .fcf-btn-primary:hover {
            color: #fff;
            background-color: #0069d9;
            border-color: #0062cc;
        }
        
        .fcf-btn-primary:focus, .fcf-btn-primary.focus {
            color: #fff;
            background-color: #0069d9;
            border-color: #0062cc;
            box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
        }
        
        .fcf-btn-lg, .fcf-btn-group-lg>.fcf-btn {
            padding: 0.5rem 1rem;
            font-size: 1.25rem;
            line-height: 1.5;
            border-radius: 0.3rem;
        }
        
        .fcf-btn-block {
            display: block;
            width: 100%;
        }
        
        .fcf-btn-block+.fcf-btn-block {
            margin-top: 0.5rem;
        }*/
}
main section.contact-form .google-map {
  padding-bottom: 50%;
  position: relative;
}
main section.contact-form .google-map iframe {
  height: 100%;
  width: 98%;
  text-align: center;
  left: 0;
  top: 0;
  position: absolute;
  padding: 0.25em 0;
  border-radius: 10px;
}
main section.contact-form #fcf-form {
  display: block;
}
main section.contact-form .fcf-body {
  margin: 0;
  color: #211A51;
  text-align: left;
  padding: 1em 2em;
  border-radius: 0.25rem;
  max-width: 100%;
}
main section.contact-form .fcf-form-group {
  margin-bottom: 1rem;
}
main section.contact-form .fcf-input-group {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%;
}
main section.contact-form .fcf-form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  outline: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
main section.contact-form .fcf-form-control:focus {
  border: 1px solid #313131;
}
main section.contact-form select.fcf-form-control[size],
main section.contact-form select.fcf-form-control[multiple] {
  height: auto;
}
main section.contact-form textarea.fcf-form-control {
  font-family: -apple-system, Arial, sans-serif;
  height: auto;
}
main section.contact-form label.fcf-label {
  display: inline-block;
  margin-bottom: 0.5rem;
}
main section.contact-form .fcf-credit {
  padding-top: 10px;
  font-size: 0.9rem;
  color: #545b62;
  opacity: 50%;
}
main section.contact-form .fcf-credit a {
  color: #545b62;
  text-decoration: underline;
}
main section.contact-form .fcf-credit a:hover {
  color: #0056b3;
  text-decoration: underline;
}
main section.contact-form .fcf-btn {
  color: #F3EDDD;
  text-align: center;
  font-size: 1em;
  font-family: 'Inria Sans', sans serif;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: inline-block;
  vertical-align: middle;
  background-color: transparent;
  border: none;
  padding: 0;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
main section.contact-form .button {
  width: 75%;
  background-color: #5B6B50;
  border: 1px solid #8ea081;
}
@media (prefers-reduced-motion: reduce) {
  main section.contact-form .fcf-btn {
    transition: none;
  }
}
main section.contact-form input[type="submit"].fcf-btn-block,
main section.contact-form input[type="reset"].fcf-btn-block,
main section.contact-form input[type="button"].fcf-btn-block {
  width: 100%;
}
footer {
  background-color: #5B6B50;
  color: #F3EDDD;
  font-family: 'Sorts Mill Goudy', serif;
  font-style: italic;
  padding-top: 1em;
  text-align: center;
  overflow: hidden;
}
footer .footer-title {
  margin-bottom: 1em;
}
footer .footer-title h2 {
  font-size: 2em;
  color: #F3EDDD;
  padding-left: 0.25em;
  display: inline-block;
}
footer .footer-title img {
  display: inline-block;
  vertical-align: bottom;
}
footer p {
  color: #F3EDDD;
  padding: 0.25em;
}
footer h5 {
  color: #F3EDDD;
  font-size: 1.25em;
  padding: 1em 0 0.5em 0;
  text-transform: uppercase;
}
footer a {
  color: #F3EDDD;
}
footer .button {
  padding: 0.15em 0;
  width: 30%;
  line-height: 0.5em;
  color: #F3EDDD;
  opacity: 50%;
}
footer .button:hover {
  opacity: 85%;
  background-color: #F3EDDD;
  color: #5B6B50;
  border: 1px solid #A1B096;
}
footer .button:visited {
  color: #F3EDDD;
}
footer #copy {
  width: 100%;
  margin: 2em auto 0 auto;
  padding: 0.5em 0;
  background-color: rgba(0, 0, 0, 0.25);
}
footer #copy p {
  font-size: 0.65em;
}
footer #copy span {
  display: inline-block;
  vertical-align: middle;
  font-size: 1em;
}
@keyframes gentlebounce {
  0% {
    bottom: 25%;
  }
  25% {
    bottom: 23%;
  }
  100% {
    bottom: 25%;
  }
}
/*main,
header,
footer,
nav {
    padding: 1em;
}*/
h1 {
  color: #211A51;
  font-size: 1.8em;
  line-height: 1.8em;
  font-family: 'Sorts Mill Goudy', serif;
  font-style: italic;
}
h2 {
  padding: 0.25em;
  font-size: 1.4em;
  font-family: 'Sorts Mill Goudy', serif;
  font-style: italic;
}
h3 {
  color: #211A51;
  font-size: 1.3em;
  line-height: 1.3em;
  font-family: 'Sorts Mill Goudy', serif;
  font-style: italic;
  font-weight: 500;
}
h4 {
  color: #211A51;
  font-size: 1.1em;
  line-height: 1.1em;
  font-family: 'Sorts Mill Goudy', serif;
  font-style: italic;
}
h5 {
  color: #211A51;
  font-size: 1.1em;
  line-height: 1.1em;
  font-family: 'Sorts Mill Goudy', serif;
  font-style: italic;
}
h6 {
  color: #211A51;
  font-size: 0.75em;
  line-height: 0.75em;
}
p {
  font-size: 0.8em;
  color: #211A51;
}
a:link {
  text-decoration: none;
}
body {
  font-family: "Inria Sans", sans-serif;
  font-size: 18px;
  line-height: 1.5em;
  background-color: #A1B096;
  color: #000000;
}
/*

TABLET STYLESHEET

The following CSS affects all screen sizes larger than 480 pixels wide.

*/
@media only screen and (min-width: 481px) {
  .button {
    padding: 0.25em 2em;
  }
  header span {
    padding-top: 1em;
  }
  #green-header span {
    padding-top: 0.5em;
  }
  #background-video-contact {
    height: 45vh;
  }
  @keyframes gentlebounce {
    0% {
      bottom: 40%;
    }
    25% {
      bottom: 37%;
    }
    100% {
      bottom: 40%;
    }
  }
  main div#definition {
    width: 40%;
    left: 31%;
  }
  main div#down-arrow {
    bottom: 50%;
  }
  main div.down-leaves {
    margin-bottom: -1%;
  }
  main section.page-description {
    padding: 2.5em 1em;
  }
  main section.page-description h2 {
    width: 65%;
    margin: 0 auto;
  }
  main section.page-description p {
    margin: 0 auto;
    width: 65%;
  }
  main section.product-box h3 {
    padding: 1.2em 0 0.5em 2em;
    font-size: 1.5em;
  }
  main section.product-box dl {
    width: 95%;
    margin: 0 auto;
  }
  main section.product-box dt {
    padding: 2em 0.5em 3em 1.5em;
  }
  main section.product-box dt h4 {
    font-size: 1.7em;
  }
  main section.product-box dd img {
    width: 70%;
    padding-bottom: 2em;
  }
  main section.product-box #romance-jam {
    background-size: 150%;
  }
  main section.video-section video {
    width: 200vw;
    margin-bottom: -1px;
  }
  main section.about-story div.pottery-definition {
    top: -93%;
  }
  main section.about-story div.pottery-definition:nth-child(2) {
    top: -24%;
  }
  main section.about-story .section {
    margin: 0 auto;
    width: 90%;
  }
  main section.about-story p {
    padding: 0 0.5em;
  }
  main section.about-story .button {
    margin-top: 2.5em;
    width: 40%;
  }
  main section.about-story hr {
    width: 75%;
  }
  main section.contact-top {
    margin-top: 35%;
  }
  main section.contact-top hr {
    width: 70%;
  }
  main section.contact-form .google-map iframe {
    margin-left: 1em;
    height: 85%;
  }
  footer .section {
    padding: 0 2em 0 1em;
  }
  footer h5 {
    padding-top: 0;
    font-size: 0.85em;
  }
  body {
    font-size: 20px;
  }
}
/*

DESKTOP STYLESHEET

The following CSS affects all screen sizes larger than 1024 pixels wide.

*/
@media only screen and (min-width: 1025px) {
  #desktopOnly {
    display: block;
  }
  #background-video-contact {
    height: 60%;
  }
  header span {
    display: none;
  }
  header ul {
    display: inline-block;
    margin-top: 2.5em;
    margin-right: 2em;
  }
  header li {
    float: left;
    padding: 0 0.75em;
  }
  @keyframes gentlebounce {
    0% {
      bottom: 30%;
    }
    25% {
      bottom: 28%;
    }
    100% {
      bottom: 30%;
    }
  }
  main div#definition p {
    width: 68%;
  }
  main div#down-arrow h2 {
    font-size: 1.75em;
    width: 45%;
  }
  main section.page-description {
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  main section.page-description p {
    width: 55%;
  }
  main section.product-box h3 {
    padding-left: 2.5em;
  }
  main section.product-box dt {
    padding-top: 3em;
    padding-bottom: 6em;
    border-radius: 7px;
  }
  main section.product-box dt p {
    width: 50%;
  }
  main section.video-section video {
    width: 100vw;
  }
  main section.about-story {
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100%;
  }
  main section.about-story div.pottery-definition {
    top: -30%;
  }
  main section.about-story div.pottery-definition:nth-child(2) {
    top: -19%;
  }
  main section.about-story .section {
    width: 70%;
  }
  main section.about-story .button {
    width: 25%;
  }
  main section.contact-top {
    margin-top: 25%;
    border-radius: 0;
  }
  footer .button {
    width: 20%;
  }
  body {
    font-size: 20px;
  }
}
/*

TV STYLESHEET

The following CSS affects all screen sizes larger than 1385 pixels wide.

*/
@media only screen and (min-width: 1385px) {
  main div#definition {
    width: 25%;
    left: 37%;
    padding: 1em 1em 2em 1em;
  }
  main div#definition h3 {
    font-size: 4em;
    font-weight: 450;
  }
  main div#definition h5 {
    font-size: 1.5em;
  }
  main div#definition p {
    width: 70%;
  }
  main section.page-description {
    padding: 3.5em 1em;
  }
  main section.page-description h2 {
    font-size: 1.8em;
    width: 40%;
  }
  main section.page-description p {
    width: 40%;
  }
  main section.product-box h3 {
    padding-left: 3.5em;
    font-size: 2em;
  }
  main section.product-box dl {
    width: 80%;
  }
  main section.product-box dt {
    padding-left: 4em;
    padding-top: 4em;
    padding-bottom: 7em;
  }
  main section.product-box dt h4 {
    padding-bottom: 0.25em;
  }
  main section.product-box dd p {
    padding-top: 2em;
    width: 60%;
  }
  main section.product-box dd img {
    width: 50%;
  }
  main section.about-story .button {
    width: 18%;
    padding: 0.5em;
  }
  main section.about-story div.pottery-definition {
    top: -30%;
  }
  main section.about-story div.pottery-definition h3 {
    font-size: 3em;
  }
}
